@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  font-family: 'Poppins', sans-serif;
}

.introduction {
  font-size:5.5em;
  width: 65%;
  background-image: linear-gradient(to left, #86C8BC, #FFD4B2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

.Typewriter {
  font-size: 1.8em;
  color: #86C8BC;
}
@media only screen and (max-width: 768px) {
  .introduction {
    font-size: 3em;
    width: 100%;
  }

  .Typewriter {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  .introduction {
    font-size: 2.5em;
    width: 100%;
  }

  .Typewriter {
    font-size: 1em;
  }
}

.image {
    position: relative;
    height: 100vh;
    max-width: 100%;
}

.content {
    text-align: left;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 80%;
    margin: 2em;
}

.content-one {
    text-align: left;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 80%;
    margin: 2em;
}
.about-me {
  position: absolute;
  /* top:2%;*/
  left: 50%; 
}

.about-me h1 {
  font-size: 4em;
  background-image: linear-gradient(to left,#DEC4D6, #7B92AA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about-me-text {
  color: #37667E;

}

@media screen and (max-width: 768px) {
  .contact .about {
    width: 100%;
  }
  .about-me {
    position: static;
    transform: none;
    margin-top: 0;
  }
  
  .about-me h1 {
    font-size: 1.2em;
  }
  
  .about-me-text {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .contact .about {
    width: 100%;
  }
  .about-me {
    position: static;
    transform: none;
    margin-top: 0;
  }
  
  .about-me h1 {
    font-size: 1em;
  }
  
  .about-me-text {
    font-size: 0.8em;
  }
}





.content h1 {
    margin-bottom: 0.5em;
  }
  

  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 85px;
    overflow: hidden;
    background-color: #f1f1f1;
    z-index: 2;
    opacity: 0.8;
    /* justify-content: center; */
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 5%;
    /* justify-content: center;
    text-align: center; */
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu:last-child li {
    margin-top: 10px;
    position: fixed;
    top:93%;
  }
  
  .menu li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #7B92AA;
    font-size: 1rem;
    transition-duration: 0.4s;
  }
.menu li a:hover {
  /* background-color: #BAABDA; */
  color: #f6e2ff;
}

.menu-toggle {
  display: none;
  padding: 10px;
  margin: 2px;
  background-color: grey;

}

@media screen and (min-width: 769px) {
  .resume-link {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .menu-toggle span {
    display: block;
    height: 3px;
    background: #333;
    margin-bottom: 5px;
    position: relative;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  .menu-toggle span:first-child {
    transform-origin: 0 0;
  }

  .menu-toggle span:last-child {
    transform-origin: 0 100%;
  }

  .menu {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    opacity: 0.8;
    z-index: 1;
  }

  .menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #7B92AA;
    font-size: 1rem;
    transition-duration: 0.4s;
  }

  .menu li a:hover {
    color: #f6e2ff;
  }
}


.three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.contact-links {
  display: flex; /* display the icons in a row */
  justify-content: left; /* center the icons horizontally */
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
}

.contact {
  display: inline-block; /* make the links take up only as much space as necessary */
  margin: 0 10px; /* add some margin between the links */
  font-size: 30px; /* set the font size of the icons */
   /* set the color of the icons */
  transition: all 0.3s ease-in-out; /* add a transition effect */
  color: #7B92AA;
}

.contact:hover {
  transform: scale(1.5); /* expand the icons when hovered on */
  
  color: #37667E;
}


#projects {
  background-color: #FFF9F9;
}

.scroll-intro {
  font-size: 6.5em;
  background-image: linear-gradient(to left,#BAABDA, #D6E5FA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.project-content {
  border-radius: 5px;
  border: 1px solid;
  padding: 15px;
  background-color: rgb(246, 234, 234);
  color: #9E9D89;
  border: none;
  margin-bottom: 1em;
}

.proj-image {
  border: 2px solid #9E9D89;
  border-radius: 7px;
  margin: 20px;
}

.proj-image:hover {
  opacity: 0.5;
}
.project-content h2 {
  color: #9E9D89;
  font-size: 2em;
}
.scroll-section-outer{
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 500vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
  margin-top: auto;
}

.scroll-section .project-content {
  margin-left: 7em;
  margin-right: 7em;
}
.scroll-section h2 {
  text-align: center;
}
.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}


@media only screen and (max-width:768px){
  .scroll-intro {
    font-size: 4rem;
  }

  .scroll-section .project-content {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  .proj-image img {
    width: 260px;
    height: 152px;
  }

} 


.arrow {
  position: relative;
  color: #BAABDA;
  bottom: 0;
  right: 0;
}




 